<div class="row">
    <div class="col-6">
        <ul class="list-one">
            <li><span style="color: #000000;"><strong>Heating system</strong></span></li>
            <li><span style="color: #000000;"><strong>Central air conditioning system (temperature permitting)</strong></span></li>
            <li><span style="color: #000000;"><strong>Interior plumbing and electrical systems</strong></span></li>
            <li><span style="color: #000000;"><strong>Roof</strong></span></li>
            <li><span style="color: #000000;"><strong>Attic, including visible insulation</strong></span></li>
            <li><span style="color: #000000;"><strong>Walls</strong></span></li>
            <li><span style="color: #000000;"><strong>Ceilings </strong></span></li>
        </ul>
    </div>
    <div class="col-6">
        <ul class="list-one">
            <li><span style="color: #000000;"><strong>Windows and doors</strong></span></li>
            <li><span style="color: #000000;"><strong> Foundation</strong></span></li>
            <li><span style="color: #000000;"><strong>Basement</strong></span></li>
            <li><span style="color: #000000;"><strong>Structural components</strong></span></li>
            <li><span style="color: #000000;"><strong>Appliances</strong></span></li>
            <li><span style="color: #000000;"><strong>Interior and Exterior</strong></span></li>
            </ul>
    </div>
</div>